<section id="login" ng-controller="loginCtrl">
<!-- Login -->
    <form class="box tile animated active" id="box-login" ng-submit="login()">
        <h2 class="m-t-0 m-b-15">Login</h2>
        <input type="text" class="login-control m-b-10" placeholder="Email" name="email" ng-model="email">
        <input type="password" class="login-control" placeholder="Password" name="password" ng-model="password">
        
        
        <div class="m-t-10">
            <button type="submit" class="btn btn-sm m-r-5">Sign In</button>
            <a class="box-switcher" data-switch="box-register" href="">Register</a> or
            <a class="box-switcher" data-switch="box-reset" href="">Forgot Password?</a>
        </div>
    </form>
    
    <!-- Register -->
    <form class="box animated tile" id="box-register" ng-submit="signup()">
        <h2 class="m-t-0 m-b-15">Register</h2>
        <input type="text" class="login-control m-b-10" placeholder="Username" ng-model="items.username">
        <input type="email" class="login-control m-b-10" placeholder="Email Address" ng-model="items.email">    
        <input type="password" class="login-control m-b-10" placeholder="Password" ng-model="items.password">
        <!-- <input type="password" class="login-control m-b-20" placeholder="Confirm Password"> -->

        <button type="submit" class="btn btn-sm m-r-5">Register</button>

        <small><a class="box-switcher" data-switch="box-login" href="">Already have an Account?</a></small>
    </form>
    
    <!-- Forgot Password -->
    <form class="box animated tile" id="box-reset">
        <h2 class="m-t-0 m-b-15">Reset Password</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu risus. Curabitur commodo lorem fringilla enim feugiat commodo sed ac lacus.</p>
        <input type="email" class="login-control m-b-20" placeholder="Email Address">    

        <button class="btn btn-sm m-r-5">Reset Password</button>

        <small><a class="box-switcher" data-switch="box-login" href="">Already have an Account?</a></small>
    </form>
</section>