<div class="block-area" id="tableHover" ng-controller="userReadCtrl">
	<div class="tile">
        <h2 class="tile-titemsle">User</h2>
        
        <div class="listview narrow">
            
            <div class="media">
                <div class="media-body">
                    <h6>{{items._id}}</h6>
                </div>
            </div>
            
            <div class="media">
                <div class="media-body">
                    <h6>{{items.username}}</h6>
                </div>
            </div>

            <div class="media">
                <div class="media-body">
                    <h6>{{items.email}}</h6>
                </div>
            </div>

            <div class="media">
                <div class="media-body">
                    <h6>{{items.password}}</h6>
                </div>
            </div>
        </div>

    </div>
</div>