<div class="block-area" id="tableHover" ng-controller="userEditCtrl">
	<div class="box tile p-15">
		<form class="tile" ng-submit="update()">
	        <h2 class="m-t-0 m-b-15">Create</h2>
	        <input type="text" class="form-control m-b-10" placeholder="Username" ng-model="items.username">
	        <input type="email" class="form-control m-b-10" placeholder="Email Address" ng-model="items.email">    
	        <input type="password" class="form-control m-b-10" placeholder="Password" ng-model="items.password">

	        <button type="submit" class="btn btn-sm m-r-5">Submit</button>
	    </form>
    </div>
</div>